.News-head {
  display: flex;

}

.News{
  padding:10px 0px
}
.News-head-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}
.News-head-place {
  display: flex;

  align-items: flex-start;
}
.News-head div {
  padding-left: 10px;
  color: #808080;
  font-size: 16px;
  width:180px
}
.News-content {
  display: flex;
  /* align-items: center; */
  align-items: baseline;
}

.News-content-text {
  margin: 0px 0px 0px 10px;
  font-size: 16px;
  color: #333333;

}
.News-content span {
  color: #808080;
  font-size: 14px;
  padding:5px 5px 0px 5px
}
.News-media video,
.News-media img {
  width: 280px;
  height: 158px;
border-radius: 4px;
/* padding:0 !important; */
/* position:absolute;
bottom:0;
top:0;
left:0; */

}

.News-media  {
padding: 20px 0px 0px 56px;
}


.News-content-expand {
  padding: 10px 0px 0px 56px;
  margin: 0;
  color: #808080;
  font-size: 12px;
  cursor: pointer;
  /* letter: -3.5% */
}
